<!DOCTYPE html>
<html>

<body>
<a href="https://www.etsy.com/oauth/connect?response_type=code&redirect_uri=http://localhost:3003/oauth/redirect&scope=transactions_r%20transactions_w%20listings_r%20listings_w&client_id=wix41uv8dhpnbi9n7gaq948s&state=superstate&code_challenge=k4Hmmky7NcEtC1ABnm-bZ8TKZfTfai-8j1thzyqdHcI&code_challenge_method=S256">
    Authenticate with Etsy
</a>
</body>

</html>
